h1{ font-family: "Playfair Display", serif; color: cadetblue;}

body{background: linear-gradient(cadetblue, powderblue, aliceblue, azure);
background-size: 100% 100%; 
background-repeat: no-repeat;
background-attachment: fixed;
    text-align: center; color: cadetblue; font-family: "Playfair Display", serif;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: right;
    font-family: "Rubik", sans-serif;
    color: azure;
    margin: 0;
    cursor: pointer;
    padding: 10px;
}

.menu li{
    margin: 0 15px
}

h1{padding-top: 10%; font-family: "Playfair Display", serif;}
